*.opensdf
*.exp
*.tlog
*.lastbuildstate
*.manifest
*.ipch
*.tlog
*.obj
*.manifest
*.lastbuildstate
*.Build/*.log
*.CppClean.log
*.pdb
*.sdf
*.opensdf
*.ipch
*.exe
*.res
*.suo
*.aps
*.bat
*.user
*.unsuccessfulbuild
*.pyc
*.idb
